<form [formGroup]="formPregunta" (click)="showComponent()" class="border" style="background: white;">
    <div class="text-center">
        <mat-icon cdkDragHandle style="transform: rotate(90deg); cursor: pointer;">drag_indicator</mat-icon>
    </div>
    <div class="m-4 d-flex flex-wrap justify-content-sm-between">
        <div class="col-md-5">
            <h2>Pregunta</h2>
            <input type="text" placeholder="Formule una pregunta" class="form-control" formControlName="pregunta">
        </div>
        <div class="col-md-5">
            <h2>Tipo</h2>
            <select placeholder="Formule una pregunta" class="form-control" formControlName="tipoPregunta">
                <option [value]="tipo.tipoID" *ngFor="let tipo of tipoPregunta">{{tipo.descripcion}}</option>
            </select>
        </div>
    </div>
    <div [hidden]="idShow !== index">
        <div [ngSwitch]="formPregunta.get('tipoPregunta').value" class="mx-4 my-3">
            <ng-container *ngSwitchCase="1">
                <input type="text" placeholder="Texto del comentario" class="col-md-5 form-control" readonly
                    style="margin: 15px;">
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <app-radiobutton-encuesta [formRadio]="formPregunta.get('respuesta')"></app-radiobutton-encuesta>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <app-checkbox-encuesta [formCheckbox]="formPregunta.get('respuesta')"></app-checkbox-encuesta>
            </ng-container>
        </div>
        <section class="card-footer d-flex flex-wrap justify-content-end">
            <button mat-mini-fab color="undefined" (click)="deletePregunta(index)" [disabled]="!index">
                <i-feather name="trash2" [style]="!index ? 'color: white;' : 'color: #5f6368'"></i-feather>
            </button>
            <button mat-mini-fab color="undefined" (click)="duplicatePregunta(index)">
                <i-feather name="copy" style="color: #5f6368;"></i-feather>
            </button>
        </section>
    </div>
</form>