<div class="mb-5">
    <button class="btn btn-primary" type="submit" color="primary" mat-flat-button (click)="agregarConcultorio()">Agregar
        Consultorios</button>
</div>
<div class="card p-4 my-4">
    <!-- {{consultoriosArr|json}} -->

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Consultorio</th>
                <!-- <th scope="col">Total de servicios enlazados</th> -->
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of consultoriosArr">
                <td style="display: none;">{{item.NroConsultorio}}</td>
                <td>{{item.Descripcion}}</td>
                <!-- <td>{{item.ConsultorioID}}</td> -->
                <td>
                    <button class="btn btn-primary mr-3" (click)="detalleconsultorio(item.ConsultorioID)" matTooltip="VER DETALLE">
                        <i-feather class="btn-icon" name="edit"></i-feather>
                    </button>
                    <button class="btn btn-danger mr-3" *ngIf="item.PuedeEliminar == true" mat-flat-icon
                        (click)="EliminarConsultorio(item.ConsultorioID)" matTooltip="ELIMINAR CONSULTORIO">
                        <i-feather class="btn-icon" name="trash"></i-feather>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>