<modal-body [disabledClose]="isLoading">
    <div title>Eliminar Servicio</div>
    <p body>¿Está seguro de querer eliminar este servicio?</p>
    <button action-button class="btn btn-primary" mat-flat-button (click)="eliminarServicio()" [disabled]="isLoading">
        Eliminar
    </button>
</modal-body>