<form>
    <nz-divider nzText="Buscar Citas" nzOrientation="left"></nz-divider>
    <div class="container my-4" style="margin-left: initial;">
        <!-- Primera Fila -->
        <div class="row">
            <div class="col-md-3">
                <div class="row gy-5">
                    <div class="col-3">
                        <p>Estado</p>
                    </div>
                    <div class="col-9">
                        <nz-select nzPlaceHolder="Seleccione Estado" [(ngModel)]="comboEstado" name="estados">
                            <nz-option *ngFor="let item of listaEstadosCitas" nzLabel={{item.Nombre}}
                                nzValue="{{item.Valor}}"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row gx-5">
                    <div class="col-4">
                        <p>Rango de Fechas</p>
                    </div>
                    <div class="col-8">
                        <nz-range-picker nzShowOk [(ngModel)]="rangoFechas" name="fechas"></nz-range-picker>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row gx-5">
                    <div class="col-3">
                        <p>Clientes</p>
                    </div>
                    <div class="col-9">
                        <input nz-input placeholder="Nombres Cliente" [(ngModel)]="nombresCliente" name="nombres"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Espacio Vertical -->
        <div class="my-4"></div>

        <!-- Segunda Fila -->
        <div class="row">
            <div class="col-md-4">
                <div class="row gx-5">
                    <div class="col-4">
                        <p>Nro Cita</p>
                    </div>
                    <div class="col-8">
                        <input nz-input type="number" min="1" max="999999" placeholder="Nunmero Cita" [(ngModel)]="numCita" name="numCita"/>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row gx-5">
                    <div class="col-3">
                        <p>Servicios</p>
                    </div>
                    <div class="col-9">
                        <nz-select nzPlaceHolder="Seleccione Servicio" [(ngModel)]="comboServicios" name="servicios">
                            <nz-option *ngFor="let item of serviciosArr" nzLabel={{item.Nombre}}
                                nzValue="{{item.ServicioID}}"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row gx-5">
                    <div class="col-6">
                        <p>Estado Pago</p>
                    </div>
                    <div class="col-6">
                        <nz-select nzPlaceHolder="Estado Pago" [(ngModel)]="comboPago" name="pago">
                            <nz-option *ngFor="let item of listaEstadoPago" nzLabel={{item.label}}
                                nzValue="{{item.value}}"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>

         <!-- Espacio Vertical -->
         <div class="my-4"></div>

        <!-- Tercera Fila -->
        <div class="row">
            <div class="col-md-4">
                <div class="row gx-5">
                    <div class="col-5">
                        <p>Nro Consultorio</p>
                    </div>
                    <div class="col-6">
                        <input nz-input type="number" min="1" max="20" placeholder="Nro. Consultorio" [(ngModel)]="numConsultorio" name="numConsultorio"/>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row gx-5">
                    <div class="col-6">
                        <p>Nombre Ultimo Especialista</p>
                    </div>
                    <div class="col-6">
                        <nz-select nzPlaceHolder="Seleccione Especialista" [(ngModel)]="comboEspecialista" name="servicios">
                            <nz-option *ngFor="let item of listaEspecialitas" nzLabel={{item.NombreFull}}
                                nzValue="{{item.UsuarioID}}"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <!-- <div class="col-auto">
                <div class="row gx-5">
                    <div class="col-6">
                        <p>Estado Pago</p>
                    </div>
                    <div class="col-6">
                        <nz-select nzPlaceHolder="Estado Pago" [(ngModel)]="comboPago" name="pago">
                            <nz-option *ngFor="let item of listaEstadoPago" nzLabel={{item.label}}
                                nzValue="{{item.value}}"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="my-4"></div>
        <div class="row">
            <div class="col-auto">
                <div class="row justify-content-end">
                    <!-- button -->
                    <div class="col-auto">
                        <button class="btn btn-primary mr-2" mat-flat-button (click)="buscarCitas()">Buscar</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mr-2" mat-flat-button (click)="limpiarFiltros()">Limpiar
                            Filtros</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<hr>
<div class="row mb-5" style="overflow-x: auto;">
    <div class="col-12">
        <br>
        <div style="overflow-x: auto;">
            <table mat-table [dataSource]="listaCitas" class="mat-elevation-z8" 
                *ngIf="listaCitas.length>0">
                <ng-container matColumnDef="NroCita" style="padding-right: 20px;">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Nro. Cita</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{element.CitaID}}</td>
                </ng-container>
                <ng-container matColumnDef="NombreServicio">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 150px;">Nombre Servicio</th>
                    <td mat-cell *matCellDef="let element" >{{element.ServicioNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="Cliente"  style="padding-right: 100px;">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 180px;">Nombre Cliente</th>
                    <td mat-cell *matCellDef="let element">{{element.ClienteNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="SesionActualTotal">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Sesion Actual/Total</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{element.SesionActual}} / {{element.SesionTotal}}</td>
                </ng-container>
                <ng-container matColumnDef="MontoServicio">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 40px;">Monto Servicio</th>
                    <td mat-cell *matCellDef="let element">{{element.MontoServicio| currency: 'S/ ' }}</td>
                </ng-container>
                <ng-container matColumnDef="MontoDevuelto">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 40px;">Monto Devuelto</th>
                    <td mat-cell *matCellDef="let element">{{element.MontoDevolucion| currency: 'S/ ' }}</td>
                </ng-container>
                
                <ng-container matColumnDef="EstadoPago">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Estado Pago</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <div *ngIf="element.EstadoPago == 0">
                            <nz-tag [nzColor]="'#f50'" nz-tooltip="Pagar" (click)="agregarPago(element)">No Pagado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoPago == 1">
                            <nz-tag [nzColor]="'#108ee9'" (click)=agregarPago(element)>Pagado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoPago == 2">
                            <nz-tag [nzColor]="'#FF0000'">Devuelto</nz-tag>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="EstadoCita">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Estado Cita</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <div *ngIf="element.EstadoCita == '1'">
                            <nz-tag [nzColor]="'#21AB38'">Reservado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCita == '2'">
                            <nz-tag [nzColor]="'default'">Realizado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCita == '3'">
                            <nz-tag [nzColor]="'#FF0000'">Cancelado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCita == '4'">
                            <nz-tag [nzColor]="'#4A5385'">En Proceso</nz-tag>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="FechaReserva">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">F. Creacion</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{element.FechaHoraRegistro|date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="FechaLimite">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">F. Limite</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{element.FechaVencimiento}}</td>
                </ng-container> -->
                <!-- ,'EstadoCitaSesion','FechaUltimaReserva','NombreEspecialista','NroConsultorio' -->
                <ng-container matColumnDef="EstadoCitaSesion">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Estado Ultima Sesion</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <div *ngIf="element.EstadoCitaSesion == '1'">
                            <nz-tag [nzColor]="'#FF0000'">Reservado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '2'">
                            <nz-tag [nzColor]="'#649B8F'">En Proceso</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '3'">
                            <nz-tag [nzColor]="'#21AB38'">Realizado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '4'">
                            <nz-tag [nzColor]="'default'">Reprogramado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '5'">
                            <nz-tag [nzColor]="'#649B8F'">Cliente no asistido</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '6'">
                            <nz-tag [nzColor]="'#649B8F'">En espera de asignación</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '7'">
                            <nz-tag [nzColor]="'#007CFF'">Cancelado</nz-tag>
                        </div>
                        <div *ngIf="element.EstadoCitaSesion == '8'">
                            <nz-tag [nzColor]="'default'">Reprogramado por Negocio</nz-tag>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="FechaUltimaReserva">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Fecha Ultima Reserva</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">{{element.FechaUltimaReserva|date: 'dd/MM/yyyy - h:mm a'}}</td>
                </ng-container>
                <ng-container matColumnDef="NombreEspecialista">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 60px;">Ultimo Especialista</th>
                    <td mat-cell *matCellDef="let element" >
                        <div *ngIf="element.NombreEspecialista">
                            {{element.NombreEspecialista}}
                        </div>
                        <div *ngIf="!element.NroConsultorio">
                            -
                        </div>
                </ng-container>
                <ng-container matColumnDef="NroConsultorio">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Nro Consultorio</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <div *ngIf="element.NroConsultorio=='0'">
                            -
                        </div>
                        <div *ngIf="element.NroConsultorio!='0'">
                            {{element.NroConsultorio}}
                        </div>
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="Boleta">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Detalle Pago</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <div *ngIf="element.Boleta">
                            <button class="btn btn-secondary mr-3" matTooltip="Ver Comprobante" (click)="verDetallePago(element)">
                                <i-feather class="btn-icon" name="file"></i-feather>
                            </button>
                        </div>
                        <div *ngIf="!element.Boleta">
                            <i class="bi bi-file-earmark-fill"></i>
                        </div>
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="Ver">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Ver</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <button class="btn btn-primary mr-3" matTooltip="Ver Detalle" (click)="verDetalleCita(element)">
                            <i-feather class="btn-icon" name="eye" ></i-feather>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Devolucion">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 20px;">Devolucion</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 20px;">
                        <button class="btn btn-danger mr-3" (click)="registrarDevolucion(element)" matTooltip="Hacer Devolucion" *ngIf="element.EstadoPago==1 && element.MontoDevolucion==0">
                            <i-feather class="btn-icon" name="x-square" ></i-feather>
                        </button>
                        <button class="btn btn-danger mr-3" (click)="registrarDevolucion(element)" matTooltip="Ver Devolucion" *ngIf="element.EstadoPago==1 && element.MontoDevolucion>0">
                            <i-feather class="btn-icon" name="eye" ></i-feather>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCitas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCitas;"></tr>
            </table>
            <mat-paginator [length]="sizeTotal" [pageSize]="paginatorPageSize" (page)="paginacion($event)"></mat-paginator>
        </div>
    </div>
    <!-- <div class="col-8">
        ASD
    </div> -->
    <!-- <table class="table table-striped">
        <thead>
            <tr>
                <th>Nro Cita</th>
                <th>Nombre Servicio</th>
                <th>Estado Cita</th>
                <th>Cliente</th>
                <th>Estado Pago</th>
                <th>S. Actual/Total</th>
                <th>Monto Servicio</th>
                <th>F. Limite</th>
                <th>F. Reserva</th>
                <th>Boleta</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaCitas">
                <td>{{item.CitaID}}</td>
                <td>{{item.ServicioNombre}}</td>
                <td>
                    <div *ngIf="item.EstadoCita == '1'">
                        <nz-tag [nzColor]="'#21AB38'">Pendiente</nz-tag>
                    </div>
                    <div *ngIf="item.EstadoCita == '2'">
                        <nz-tag [nzColor]="'default'">Realizada</nz-tag>
                    </div>
                    <div *ngIf="item.EstadoCita == '3'">
                        <nz-tag [nzColor]="'#FF0000'">Cancelado</nz-tag>
                    </div>
                </td>
                <td>{{item.ClienteNombre}}</td>
                <td>
                    <div *ngIf="item.EstadoPago == 0">
                        <nz-tag [nzColor]="'#f50'" (click)="agregarPago(item)">No Pagado</nz-tag>
                    </div>
                    <div *ngIf="item.EstadoPago == 1">
                        <nz-tag [nzColor]="'#108ee9'">Pagado</nz-tag>
                    </div>
                </td>
                <td>
                    <a>{{item.SesionActual}} / {{item.SesionTotal}}</a>
                </td>
                <td>{{item.MontoServicio| currency: 'S/ ' }}</td>
                <td>{{item.FechaVencimiento}}</td>
                <td>{{item.ReservaFecha|date}}</td>
                <td>
                    <div *ngIf="item.Boleta">
                        <button class="btn btn-primary mr-3" matTooltip="Ver Comprobante">
                            <i-feather class="btn-icon" name="file"></i-feather>
                        </button>
                    </div>
                    <div *ngIf="!item.Boleta">
                        <i class="bi bi-file-earmark-fill"></i>
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary mr-3" matTooltip="Ver Detalle">
                        <i-feather class="btn-icon" name="eye" (click)="verDetalleCita(item)"></i-feather>
                    </button>
                </td>
            </tr>
        </tbody>
    </table> -->