<div class="mb-5">
    <button class="btn btn-primary" mat-flat-button (click)="agregarCategoriaServicios()" color="primary">Agregar
        Categoria</button>
</div>
<div>
    <ng-container *ngIf="categoriasArr.length > 0;else noData">
        <table mat-table [dataSource]="categoriasArr" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="CategoriaServicioID">
                <th mat-header-cell *matHeaderCellDef>CategoriaServicioID</th>
                <td mat-cell *matCellDef="let element">{{element.CategoriaServicioID}}</td>
            </ng-container>
            <ng-container matColumnDef="Nombre Categoría">
                <th mat-header-cell *matHeaderCellDef>Nombre Categoría</th>
                <td mat-cell *matCellDef="let element">{{element.Descripcion}}</td>
            </ng-container>
            <ng-container matColumnDef="Total de servicios activos">
                <th mat-header-cell *matHeaderCellDef>Total de servicios activos</th>
                <td mat-cell *matCellDef="let element">{{element.TotalServicios}}</td>
            </ng-container>
            <ng-container matColumnDef="Acción">
                <th mat-header-cell *matHeaderCellDef>Acción</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-primary mr-3"
                        (click)="editarCategoriaServicio(element.CategoriaServicioID,element.Descripcion)"
                        matTooltip="Editar Nombre" matTooltipPosition="left">
                        <i-feather class="btn-icon" name="edit"></i-feather>
                    </button>
                    <button class="btn btn-danger mr-3" *ngIf="element.TotalServicios == 0" mat-flat-icon
                        (click)="eliminarCategoriaServicio(element.CategoriaServicioID)" matTooltip="Eliminar Categoria" matTooltipPosition="right">
                        <i-feather class="btn-icon" name="trash"></i-feather>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="totalRecords" [pageSize]="paginatorPageSize" (page)="paginacion($event)"></mat-paginator>
    </ng-container>
    <ng-template #noData>
        <img src="assets/images/no_data.svg" class="img-fluid my-5">
    </ng-template>
</div>
<!-- <div class="card p-4 my-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="display: none;">CategoriaServicioID</th>
                <th scope="col">Nombre Categoría</th>
                <th scope="col">Total de servicios activos</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of categoriasArr">
                <td style="display: none;">{{item.CategoriaServicioID}}</td>
                <td>{{item.Descripcion}}</td>
                <td>{{item.TotalServicios}}</td>
                <td>
                    <button class="btn btn-primary mr-3"
                        (click)="editarCategoriaServicio(item.CategoriaServicioID,item.Descripcion)">
                        <i-feather class="btn-icon" name="edit"></i-feather>
                    </button>
                    <button class="btn btn-danger mr-3" *ngIf="item.TotalServicios == 0" mat-flat-icon
                        (click)="eliminarCategoriaServicio(item.CategoriaServicioID)">
                        <i-feather class="btn-icon" name="trash"></i-feather>
                    </button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center" *ngIf="categoriasArr && categoriasArr.length > 0">
        <span>1 a 6 de 6 registros</span>
        <nav>
            <ul class="d-inline-flex p-0 m-0">
                <li class="border p-2">
                    <a>Previous</a>
                </li>
                <li class="border p-2"><a>1</a></li>
                <li class="border p-2">2</li>
                <li class="border p-2">3</li>
                <li class="border p-2">
                    <a>Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <ng-template #noData>
        <img src="assets/images/no_data.svg" class="img-fluid my-5">
    </ng-template>
</div> -->