@import 'src/assets/scss/mixins.scss';;

.item {
  border-bottom: 1px solid $gray-2;

  &:not(:first-child) {
    margin-top: rem(30);
  }

  &:last-child {
    border-bottom: none;
  }
}

.itemHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.itemPic {
  width: rem(40);
  height: rem(40);
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray-1;
  text-align: center;
  vertical-align: middle;
  margin-right: rem(20);
  flex-shrink: 0;
  align-self: flex-start;

  img {
    width: 100%;
    height: auto;
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .item {
    border-bottom: 1px solid $dark-gray-4;
    &:last-child {
      border-bottom: none;
    }
  }
  .itemPic {
    background: $dark-gray-5;
    border-color: $dark-gray-4;
  }
}
