<div class="cui__layout__header">
    <div class="cui__topbar">
        <ul class="breadcrum">
            <li *ngFor="let item of breadCrum; let last = last;">
                {{item.label}}
                <span *ngIf="!last">></span>
            </li>
        </ul>
        <!-- ************************************************* -->
        <!-- *************** BARRA DE BUSQUEDA *************** -->
        <!-- ************************************************* -->
        <!-- <div class="mr-auto">
            <div class="cui__topbar__search">
                <i class="fe fe-search"></i>
                <input type="text" id="livesearch__input" placeholder="Escriba para buscar...">
            </div>
            <div class="cui__topbar__livesearch">
                <button class="cui__topbar__livesearch__close" type="button">
                    <i class="icmn-cross"></i>
                </button>
                <div class="container-fluid">
                    <div class="cui__topbar__livesearch__wrapper">
                        <input type="text" id="livesearch__input__inner" class="cui__topbar__livesearch__input" placeholder="Type to search...">
                        <ul class="cui__topbar__livesearch__options">
                            <li class="cui__topbar__livesearch__option">
                                <label class="kit__utils__control kit__utils__control__checkbox">
                                    <input type="checkbox" checked="checked">
                                    <span class="kit__utils__control__indicator"></span>
                                    Search within page
                                </label>
                            </li>
                            <li class="cui__topbar__livesearch__option">Press enter to search</li>
                        </ul>
                        <div class="cui__topbar__livesearch__results">
                            <div class="cui__topbar__livesearch__results__title">
                                <span>Pages Search Results</span>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb" style="background-image: url('../../../assets/css/components/kit/core/img/content/photos/1.jpeg')">
                                            #1
                                        </div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Samsung Galaxy A50 4GB/64GB
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb" style="background-image: url('../../../assets/css/components/kit/core/img/content/photos/2.jpeg')">
                                            KF
                                        </div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Apple iPhone 11 64GB
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb" style="background-image: url('../../../assets/css/components/kit/core/img/content/photos/3.jpeg')">
                                            GF
                                        </div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Samsung Galaxy A51 SM-A515F/DS 4GB/64GB
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb" style="background-image: url('../../../assets/css/components/kit/core/img/content/photos/4.jpeg')">
                                            GF
                                        </div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Xiaomi Redmi 8 4GB/64GB
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb">01</div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                White Case
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb">02</div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Blue Case
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                    <div class="cui__topbar__livesearch__result__content">
                                        <div class="cui__topbar__livesearch__result__thumb">03</div>
                                        <div class="cui__topbar__livesearch__result">
                                            <div class="cui__topbar__livesearch__result__text">
                                                Green Case
                                            </div>
                                            <div class="cui__topbar__livesearch__result__source">In some partition</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ************************************************* -->
        <!-- *************** FIN DE BUSQUEDA ***************** -->
        <!-- ************************************************* -->

        <!-- ************************************************* -->
        <!-- ************ NOTIFICACIÓN DE BUSQUEDA************ -->
        <!-- ************************************************* -->
        <div class="cui__topbar__actionsDropdown dropdown mr-4 d-none d-sm-block">
            <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false" data-offset="0,15">
                <i class="dropdown-toggle-icon fe fe-bell"></i>
            </a>
            <div class="cui__topbar__actionsDropdownMenu dropdown-menu dropdown-menu-right" role="menu">
                <div style="width: 350px;">
                    <div class="card-header card-header-flex">
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
                            <li class="nav-item">
                                <a href="#tab-alert-content" class="nav-link active" id="tab-alert" role="button" data-toggle="tab">
                                    Alerts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-events-content" class="nav-link" id="tab-events" role="button" data-toggle="tab">
                                    Events
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-actions-content" class="nav-link" id="tab-actions" role="button" data-toggle="tab">
                                    Actions
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-alert-content" role="tabpanel" aria-labelledby="tab-alert-content">
                                <div class="height-300 kit__customScroll ps-container ps-theme-kit" data-ps-id="59047c54-d41f-3867-8b45-a06462c10303">
                                    <ul class="list-unstyled">
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Update Status:
                                                    <strong class="text-black">New</strong>
                                                </p>
                                                <span class="kit__l2__span">5 min ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                Mary has approved your quote.
                                            </p>
                                        </li>
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Update Status:
                                                    <strong class="text-danger">Rejected</strong>
                                                </p>
                                                <span class="kit__l2__span">15 min ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                Mary has declined your quote.
                                            </p>
                                        </li>
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Payment Received:
                                                    <strong class="text-black">$5,467.00</strong>
                                                </p>
                                                <span class="kit__l2__span">15 min ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                GOOGLE, LLC AUTOMATED PAYMENTS PAYMENT
                                            </p>
                                        </li>
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Notification:
                                                    <strong class="text-danger">Access Denied</strong>
                                                </p>
                                                <span class="kit__l2__span">5 Hours ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                The system prevent login to your account
                                            </p>
                                        </li>
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Payment Received:
                                                    <strong class="text-black">$55,829.00</strong>
                                                </p>
                                                <span class="kit__l2__span">1 day ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                GOOGLE, LLC AUTOMATED PAYMENTS PAYMENT
                                            </p>
                                        </li>
                                        <li class="mb-3">
                                            <div class="d-flex align-items-baseline">
                                                <p class="kit__l2__title">
                                                    Notification:
                                                    <strong class="text-danger">Access Denied</strong>
                                                </p>
                                                <span class="kit__l2__span">5 Hours ago</span>
                                            </div>
                                            <p class="kit__l2__content text-muted">
                                                The system prevent login to your account
                                            </p>
                                        </li>
                                    </ul>
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-events-content" role="tabpanel" aria-labelledby="tab-alert-content">
                                <div class="text-center py-4 bg-light rounded">
                                    No Events Today
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-actions-content" role="tabpanel" aria-labelledby="tab-alert-content">
                                <div class="text-center py-4 bg-light rounded">
                                    No Actions Today
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ************************************************* -->
        <!-- ********** FIN NOTIFICACIÓN DE BUSQUEDA ********* -->
        <!-- ************************************************* -->

        <!-- ************************************************* -->
        <!-- *************** USER DE BUSQUEDA **************** -->
        <!-- ************************************************* -->
        <div class="dropdown">
            <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false" data-offset="5,15">
                <img class="dropdown-toggle-avatar" src="../../../assets/css/components/kit/core/img/avatars/avatar-2.png" alt="User avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="javascript:void(0)">
                    <p class="kit__l2__title">
                        {{user.Nombres }} &nbsp; {{user.Apellidos}}
                    </p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="dropdown-icon fe fe-user"></i> {{user.Rol.Descripcion}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()">
                    <i class="dropdown-icon fe fe-log-out"></i> Cerrar Sesión
                </a>
            </div>
        </div>
        <!-- ************************************************* -->
        <!-- ************ FIN USER DE BUSQUEDA *************** -->
        <!-- ************************************************* -->
    </div>

</div>