<div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="formRadio.controls">
    <div class="row align-items-center my-2" style="margin: 15px; background-color: white;"
        *ngFor="let item of formRadio.controls; let index = index; let last = last; let first = first" cdkDrag>
        <mat-icon style="cursor: pointer;" cdkDragHandle>drag_indicator</mat-icon>
        <label nz-radio class="mb-0" nzDisabled></label>
        <input type="text" class="form-control col-sm-4" [formControl]="item.get('opcion')">
        <button mat-mini-fab color="undefined" *ngIf="!(last && first)" (click)="deleteOption(index)">
            <i-feather name="x" style="color: #5f6368;"></i-feather>
        </button>
    </div>
</div>
<div class="row align-items-center" style="margin-left: 38px;">
    <label nz-radio class="mb-0" nzDisabled></label>
    <label class="text-gray-4 m-0" style="cursor: pointer;" (click)="addOption()">Agregar una opción</label>
</div>