<modal-body>
    <div title><b>Agregar Cliente</b></div>

    <form body [formGroup]="clientesAddForm" class="mx-4">
        <div class="form-group">
            <h3>Nombre</h3>
            <input placeholder="Nombre de Cliente" formControlName="nombre" class="form-control">
            <ng-container *ngIf="clientesAddForm.get('nombre').hasError && clientesAddForm.get('nombre').touched">
                <mat-error *ngIf="clientesAddForm.get('nombre').hasError('required')">Ingrese un nombre
                    Valido</mat-error>
            </ng-container>
        </div>
        <div class="form-group">
            <h3>Apellido</h3>
            <input placeholder="Apellido de Cliente" formControlName="apellido" class="form-control">
            <ng-container *ngIf="clientesAddForm.get('apellido').hasError && clientesAddForm.get('apellido').touched">
                <mat-error *ngIf="clientesAddForm.get('apellido').hasError('required')">Ingrese un apellido Valido</mat-error>
            </ng-container>
        </div>
        <div class="row">
            <div class="form-group col-md-5 my-3">
                <h3>DNI</h3>
                <input placeholder="Número DNI" formControlName="dni" class="form-control" onlyNumbers type="text" minlength="5" maxlength="8">
                <ng-container *ngIf="clientesAddForm.get('dni').hasError && clientesAddForm.get('dni').touched" >
                    <mat-error *ngIf="clientesAddForm.get('dni').hasError('required')">Ingrese un DNI valido</mat-error>
                </ng-container>
            </div>
            <div class="form-group col-md-5 my-3">
                <h3>Telefono</h3>
                <input placeholder="Telefono Celular" formControlName="telefono" class="form-control" onlyNumbers type="text" minlength="9" maxlength="9">
                <ng-container *ngIf="clientesAddForm.get('telefono').hasError && clientesAddForm.get('telefono').touched">
                    <mat-error *ngIf="clientesAddForm.get('telefono').hasError('required')">Ingrese un número de telefono valido</mat-error>
                    <mat-error *ngIf="clientesAddForm.get('telefono').hasError('minLength')">Ingrese un número de telefono valido</mat-error>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 my-3">
                <h3>Fecha de Nacimiento</h3>
                <nz-date-picker [nzDisabledDate]="disabledEndDate" formControlName="fecha" class="form-control"></nz-date-picker>
                <ng-container *ngIf="clientesAddForm.get('fecha').hasError && clientesAddForm.get('fecha').touched">
                    <mat-error *ngIf="clientesAddForm.get('fecha').hasError('required')">Seleccione una fecha</mat-error>
                </ng-container>
            </div>
            <div class="form-group col-md-5 my-3">
                <h3>Genero</h3>
                <select class="form-control" formControlName="genero" aria-placeholder="Seleccione una opción">
                    <option selected value=null>Seleccionar genero</option>
                    <option value="true">Masculino</option>
                    <option value="false">Femenino</option>
                </select>
                <ng-container *ngIf="clientesAddForm.get('genero').hasError && clientesAddForm.get('genero').touched">
                    <mat-error *ngIf="clientesAddForm.get('genero').hasError('required')">Seleccione un genero</mat-error>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 my-3">
                <h3>Direccion</h3>
                <input placeholder="Direccion" formControlName="direccion" class="form-control">
                <ng-container *ngIf="clientesAddForm.get('direccion').hasError && clientesAddForm.get('direccion').touched">
                    <mat-error *ngIf="clientesAddForm.get('direccion').hasError('required')">Ingrese una direccion valida</mat-error>
                </ng-container>
            </div>
            <div class="form-group col-md-6 my-3">
                <h3>Correo</h3>
                <input placeholder="nombre@example.com" formControlName="correo" class="form-control">
                <ng-container *ngIf="clientesAddForm.get('correo').hasError && clientesAddForm.get('correo').touched">
                    <mat-error *ngIf="clientesAddForm.get('correo').hasError('required')">Ingrese un email</mat-error>
                    <mat-error *ngIf="clientesAddForm.get('correo').hasError('email')">Ingrese un email valido</mat-error>
                </ng-container>
            </div>
        </div>
        <br>
        <!-- <div class="form-group">
            <h3>¿Como conocio KatiaSpa?</h3>
            <textarea placeholder="Comentarios" formControlName="respuestaEncuesta" class="form-control"></textarea>
        </div> -->
    </form>
    <button action-button class="btn btn-primary" mat-flat-button [disabled]="clientesAddForm.disabled" (click)="registrarCliente()">Guardar</button>
</modal-body>