<p>GestionCitasComponent works!!!</p>

<form class="form-row my-1 align-items-center">
    <nz-divider nzText="Buscar Citas" nzOrientation="left"></nz-divider>
    <div class="form-group col-md-2 my-3 align-self-end">
        <!-- <p>Estado</p> -->
        <nz-select nzPlaceHolder="Seleccione Estado">
            <nz-option *ngFor="let item of listaEstados" nzLabel={{item.label}} nzValue="{{item.value}}"></nz-option>
            <!-- <nz-option nzLabel="item.label" nzValue="item.value"></nz-option> -->
            <!-- <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option> -->
        </nz-select>
    </div>
    <div class="form-group col-md-3 my-3 align-self-end">
        <!-- <p>Rango de Fechas</p> -->
        <nz-range-picker nzShowOk></nz-range-picker>
    </div>
    <div class="form-group col-md-3 my-3 align-self-end">
        <button class="btn btn-primary">Filtrar</button>
    </div>
</form>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cod. Sesión</th>
            <th>Nombre Servicio</th>
            <th>Estado Sesión</th>
            <th>Cliente</th>
            <th>S. Actual/Total</th>
            <th>F. Limite</th>
            <th>F. Reserva</th>
            <th>Ver</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lista">
            <td>{{item.CitaID}}</td>
            <td>{{item.ServicioNombre}}</td>
            <td>
                <div *ngIf="item.EstadoCita == 'En Proceso'">
                    <nz-tag [nzColor]="'#21AB38'">{{item.EstadoCita}}</nz-tag>
                </div>
                <div *ngIf="item.EstadoCita == 'Stand By'">
                    <nz-tag [nzColor]="'default'">{{item.EstadoCita}}</nz-tag>
                </div>
                <div *ngIf="item.EstadoCita == 'Cancelado'">
                    <nz-tag [nzColor]="'#FF0000'">{{item.EstadoCita}}</nz-tag>
                </div>
                <div *ngIf="item.EstadoCita == 'Por definir'">
                    <nz-tag [nzColor]="'007CFF'">{{item.EstadoCita}}</nz-tag>
                </div>
            </td>
            <td>{{item.ClienteNombreApellido}}</td>
            <td>
                <a>{{item.SesionActual}} / {{item.CantidadSesiones}}</a>
            </td>
            <td>{{item.FechaVencimiento}}</td>
            <td>{{item.FechaRegistro}}</td>

            <td>
                <button class="btn btn-primary mr-3" matTooltip="Ver Detalle">
                    <i-feather class="btn-icon" name="eye" (click)="verDetalleCita(item.CitaID)"></i-feather>
                </button>
            </td>
            <td>
                <button class="btn btn-primary mr-3" matTooltip="Programar / Reprogramar">
                    <i-feather class="btn-icon" name="calendar" (click)="gestionarSesion(item.CitaID)"></i-feather>
                </button>
            </td>
            <!-- <nz-tag [nzColor]="'#f50'">#f50</nz-tag> {{item.EstadoPago}}
            <nz-tag [nzColor]="'#2db7f5'">#2db7f5</nz-tag>
            <nz-tag [nzColor]="'#87d068'">#87d068</nz-tag>
            <nz-tag [nzColor]="'#108ee9'">#108ee9</nz-tag>
            <nz-tag [nzColor]="'magenta'">magenta</nz-tag>
            <nz-tag [nzColor]="'red'">red</nz-tag>
            <nz-tag [nzColor]="'volcano'">volcano</nz-tag>
            <nz-tag [nzColor]="'orange'">orange</nz-tag>
            <nz-tag [nzColor]="'gold'">gold</nz-tag>
            <nz-tag [nzColor]="'lime'">lime</nz-tag>
            <nz-tag [nzColor]="'green'">green</nz-tag>
            <nz-tag [nzColor]="'cyan'">cyan</nz-tag>
            <nz-tag [nzColor]="'blue'">blue</nz-tag>
            <nz-tag [nzColor]="'geekblue'">geekblue</nz-tag>
            <nz-tag [nzColor]="'purple'">purple</nz-tag>
        -->

        </tr>
    </tbody>
</table>