@import 'src/assets/scss/mixins.scss';;

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }
}

.itemPic {
  width: rem(40);
  height: rem(40);
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray-1;
  text-align: center;
  vertical-align: middle;
  margin-right: rem(20);
  flex-shrink: 0;
  align-self: flex-start;

  img {
    width: 100%;
    height: auto;
  }
}
