<modal-body>
    <div title>Agregar Trabajador</div>
    <form body [formGroup]="formularioGroup" class="mx-4">
        <div class="form-group">
            <h3>Nombre</h3>
            <input placeholder="Nombre del Trabajador" formControlName="nombre" class="form-control">
            <ng-container *ngIf="formularioGroup.get('nombre').hasError && formularioGroup.get('nombre').touched">
                <mat-error *ngIf="formularioGroup.get('nombre').hasError('required')">Ingrese un nombre Valido</mat-error>
            </ng-container>
        </div>
        <div class="form-group">
            <h3>Apellido</h3>
            <input placeholder="Apellido del Trabjador" formControlName="apellido" class="form-control">
            <ng-container *ngIf="formularioGroup.get('apellido').hasError && formularioGroup.get('apellido').touched">
                <mat-error *ngIf="formularioGroup.get('apellido').hasError('required')">Ingrese un apellido Valido</mat-error>
            </ng-container>
        </div>

        <div class="row">
            <div class="form-group col-md-5 my-3">
                <h3>DNI</h3>
                <input placeholder="Número DNI" formControlName="dni" class="form-control" onlyNumbers type="text" minlength="5" maxlength="8">
                <ng-container *ngIf="formularioGroup.get('dni').hasError && formularioGroup.get('dni').touched">
                    <mat-error *ngIf="formularioGroup.get('dni').hasError('required')">Ingrese un DNI valido</mat-error>
                    <mat-error *ngIf="formularioGroup.get('dni').hasError('minLength')">Ingrese 6 digitos como minimo</mat-error>
                </ng-container>
            </div>
            <div class="form-group col-md-5 my-3">
                <h3>Telefono</h3>
                <input placeholder="Telefono Celular" formControlName="telefono" class="form-control" onlyNumbers type="text" minlength="9" maxlength="9">
                <ng-container *ngIf="formularioGroup.get('telefono').hasError && formularioGroup.get('telefono').touched">
                    <mat-error *ngIf="formularioGroup.get('telefono').hasError('required')">Ingrese un número de telefono valido</mat-error>
                    <mat-error *ngIf="formularioGroup.get('dni').hasError('minLength')">Ingrese 9 digitos</mat-error>
                </ng-container>
            </div>
        </div>

        <div class="form-group">
            <h3>Correo</h3>
            <input placeholder="nombre@example.com" formControlName="correo" class="form-control">
            <ng-container *ngIf="formularioGroup.get('correo').hasError && formularioGroup.get('correo').touched">
                <mat-error *ngIf="formularioGroup.get('correo').hasError('required')">Ingrese un email valido</mat-error>
                <mat-error *ngIf="formularioGroup.get('correo').hasError('email')">Ingrese un email valido</mat-error>
            </ng-container>
        </div>
        <div class="row">
            <div class="form-group col-md-5 my-3">
                <h3>Rol</h3>
                <select class="form-control" formControlName="rolID" aria-placeholder="Seleccione una opción">
                    <option value="" disabled>Seleccionar un Rol</option>
                    <option *ngFor="let item of rolesArr" value="{{item.RolID}}">{{item.Descripcion}}</option>
                    <!-- <option value="2">Gerente</option>
                    <option value="3">Facialista</option>
                    <option value="4">Masajista Corporal</option> -->
                </select>
                <ng-container *ngIf="formularioGroup.get('rolID').hasError && formularioGroup.get('rolID').touched">
                    <mat-error *ngIf="formularioGroup.get('rolID').hasError('required')">Seleccione un Rol</mat-error>
                </ng-container>
            </div>

            <div class="form-group col-md-5 my-3">
                <h3>Sexo</h3>
                <select class="form-control" formControlName="genero" aria-placeholder="Seleccione una opción">
                    <option value="" disabled>Seleccionar genero</option>
                    <option value="true">Masculino</option>
                    <option value="false">Femenino</option>
                </select>
                <ng-container *ngIf="formularioGroup.get('genero').hasError && formularioGroup.get('genero').touched">
                    <mat-error *ngIf="formularioGroup.get('genero').hasError('required')">Seleccione un Genero</mat-error>
                </ng-container>
            </div>
        </div>

        <!-- <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Seleccionar Fecha Inicio</h3>
            <input type="date" placeholder="Fecha Inicio" formControlName="fechaRegistro" class="form-control">
        </div> -->
        <div class="form-group">
            <h3>Fecha de Nacimiento</h3>
            <nz-date-picker [nzDisabledDate]="disabledEndDate" formControlName="fecha" class="form-control"></nz-date-picker>
            <ng-container *ngIf="formularioGroup.get('fecha').hasError && formularioGroup.get('fecha').touched">
                <mat-error *ngIf="formularioGroup.get('fecha').hasError('required')">Seleccione una fecha valida</mat-error>
            </ng-container>
        </div>
        <div class="form-group">
            <h3>Direccion</h3>
            <input placeholder="Dirección del Trabajador" formControlName="direccion" class="form-control">
            <ng-container *ngIf="formularioGroup.get('direccion').hasError && formularioGroup.get('direccion').touched">
                <mat-error *ngIf="formularioGroup.get('direccion').hasError('required')">Ingrese una dirección Valida</mat-error>
            </ng-container>
        </div>
        <div class="form-group">
            <h3>Foto</h3>
            <div style="position: relative;">
                <ng-container *ngIf="fotoTrabajador;else fileFoto">
                    <button mat-fab style="top:44%;left: 45%;position: absolute; background-color: #000000a3 !important;" (click)="deleteFoto()">
                        <i-feather  name="x"></i-feather>
                    </button>
                    <img class="img-fluid" [src]="fotoTrabajador">
                </ng-container>
                <ng-template #fileFoto>
                    <input type="file" accept=".png,.jpg,.jpeg" (change)="addFotos()" id="fileFotos">
                </ng-template>
            </div>

        </div>

    </form>
    <button action-button class="btn btn-primary" mat-flat-button [disabled]="formularioGroup.disabled" (click)="registrarTrabajador()">Guardar</button>
</modal-body>