<div appDropZone (emitFotos)="addFotos($event)">
    <input placeholder="Foto" class="form-control mb-3" type="file" accept=".png, .jpg, .jpeg" multiple id="fotos_list" (change)="onFileSelected()">
    <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" multiple> -->
    <carousel [images]="arrFiles" *ngIf="arrFiles.length > 0" arrowsTheme="dark">
    </carousel>
</div>