<div class="mb-5">
    <button class="btn btn-primary" mat-flat-button (click)="agregarRol()" color="primary">Agregar Rol</button>
</div>
<div class="card p-4">
    <form class="form-row my-1 align-items-center">
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Ingresar Rol</h3>
            <input placeholder="Apellidos" [formControl]="apellidos" class="form-control">
        </div>
    </form>
    <div class="text-center">
        <ng-container *ngIf="rolesArr.length > 0; else noData">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rol</th>
                        <th scope="col">Trabajadores Asignados</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of rolesArr">
                        <td>{{item.Descripcion}}</td>
                        <td>{{item.Cantidad}}</td>
                        <td>
                            <button class="btn btn-primary mr-3" (click)="editarRol(item.RolID,item.Descripcion)">
                                <i-feather class="btn-icon" name="edit"></i-feather>
                            </button>
                            <button class="btn btn-danger mr-3" *ngIf="item.Cantidad ==0" mat-flat-icon (click)="desactivarRol(item.RolID)">
                                <i-feather class="btn-icon" name="trash"></i-feather>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #noData>
            <img src="assets/images/no_data.svg" class="img-fluid my-5">
        </ng-template>
    </div>
</div>