<!-- <p>Calidad Works!!</p>
<p>asd</p>
😀 -->
<div style="text-align: center;">
    <!-- <b>NPS</b>
    <br> -->
    <nz-descriptions nzTitle="NPS" nzBordered style="text-align: center;" nzSize="small">
        <nz-descriptions-item nzTitle="PROMOTOR" style="text-align: center;">
            <h2>CLIENTES QUE RECOMIENDAN KATIA SPA</h2>
            <h3 style="color: #01a001;"><b>Puntuacion [10 , 9]</b></h3>
            <p style="font-size: 70px;"><b>😁</b></p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="NEUTRO" style="text-align: center;">
            <h2>CLIENTES SATISFECHOS CON KATIA SPA</h2>
            <h3 style="color: #6b8106;"><b>Puntuacion [8 , 7 , 6]</b></h3>
            <p style="font-size: 70px;">🙂</p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="DETRACTOR" style="text-align: center;">
            <h2>CLIENTES QUE NO RECOMIENDAN KATIA SPA</h2>
            <h3 style="color: #ec3903;"><b>Puntuacion [5 , 4 , 3 , 2 , 1 , 0]</b></h3>
            <p style="font-size: 70px;">😡</p>
        </nz-descriptions-item>
        <!-- <nz-descriptions-item nzTitle="RESULTADO GENERAL DE LA EXPERIENCIA" [nzSpan]="3">
            <h1 style="color: rgb(1, 160, 1); font-size: xx-large;"><b>80%😁</b></h1>
            <h1 [style.color]="colorLabelNPS"><b>80%😁</b></h1>
        </nz-descriptions-item> -->
    </nz-descriptions>
</div>
<br>

<div class="row mb-5">
    <div class="col-5">
        <b>Periodos Calculados</b>
        <br>
        <br>
        <table mat-table [dataSource]="reportes" class="mat-elevation-z6" style="width: 100%;"
            *ngIf="reportes.length>0">
            <ng-container matColumnDef="FechaInicio">
                <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td mat-cell *matCellDef="let element">{{element.FechaInicio | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="FechaFin">
                <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                <td mat-cell *matCellDef="let element">{{element.FechaFin | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef>Detalle</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="basic" (click)="showDetail(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsReportes"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsReportes;"></tr>
        </table>
    </div>
</div>

<br>
<div class="row mb-5">
    <div class="col-7" *ngIf="puntiacionServicios.length>0">
        <b>Servicios</b>
        <br>
        <br>
        <table mat-table [dataSource]="puntiacionServicios" class="mat-elevation-z6" style="width: 100%;"
            *ngIf="puntiacionServicios.length>0">
            <ng-container matColumnDef="Servicio">
                <th mat-header-cell *matHeaderCellDef>Servicio</th>
                <td mat-cell *matCellDef="let element">{{element.ServicioNombre}}</td>
            </ng-container>
            <ng-container matColumnDef="NPS">
                <th mat-header-cell *matHeaderCellDef>NPS</th>
                <td mat-cell *matCellDef="let element">{{element.NPS}}%</td>
            </ng-container>
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef>Detalle</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="basic" (click)="showDetailPersonas(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntuacionServicios"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntuacionServicios;"></tr>
        </table>
    </div>
    <div class="col-5" *ngIf="puntuacionxPersona.length>0">
        <b>Calificacion de Servicio por Cliente</b>
        <br>
        <br>
        <table mat-table [dataSource]="puntuacionxPersona" class="mat-elevation-z6" style="width: 100%;"
            *ngIf="puntuacionxPersona.length>0">
            <ng-container matColumnDef="Cliente">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element">{{element.ClienteNombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.Fecha|date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="Puntuacion">
                <th mat-header-cell *matHeaderCellDef>Puntuacion</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.Puntuacion<6">{{element.Puntuacion}} 😡</div>
                    <div *ngIf="element.Puntuacion>=6 && element.Puntuacion<9">{{element.Puntuacion}} 🙂</div>
                    <div *ngIf="element.Puntuacion>8">{{element.Puntuacion}} 😁</div>
                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntuacionServiciosxCliente"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntuacionServiciosxCliente;"></tr>
        </table>
    </div>
</div>
<div class="row mb-5">
    <div class="col-7" *ngIf="puntuacionTrabajadores.length>0">
        <b>Trabajadores</b>
        <br>
        <br>
        <table mat-table [dataSource]="puntuacionTrabajadores" class="mat-elevation-z6" style="width: 100%;"
            *ngIf="puntuacionTrabajadores.length>0">
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element">{{element.UsuarioNombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Puntuacion">
                <th mat-header-cell *matHeaderCellDef>Puntuacion</th>
                <td mat-cell *matCellDef="let element">{{element.PuntuacionPromedio}}</td>
            </ng-container>
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef>Detalle</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="basic" (click)="showDetailPersonasxTrabajadores(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntuacionTrabajadores"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntuacionTrabajadores;"></tr>
        </table>
    </div>
    <div class="col-5" *ngIf="puntuacionxPersonaTrabajador.length>0">
        <b>Calificacion de Trabajadores por Cliente</b>
        <br>
        <br>
        <table mat-table [dataSource]="puntuacionxPersonaTrabajador" class="mat-elevation-z6" style="width: 100%;"
            *ngIf="puntuacionxPersonaTrabajador.length>0">
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element">{{element.ClienteNombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.Fecha|date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="Puntuacion">
                <th mat-header-cell *matHeaderCellDef>Puntuacion</th>
                <td mat-cell *matCellDef="let element">
                    <stars [rating]="element.Puntuacion"></stars>
                    
                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntuacionTrabajadoresxCliente"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntuacionTrabajadoresxCliente;"></tr>
        </table>
    </div>
</div>
