
<div>
    <div id="contenedor">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <nz-table #colSpanTable [nzData]="listOfData" nzBordered>
    <thead>
        <tr>
            <th>HORARIOS</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <th>Columna 4</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let data of colSpanTable.data; index as i">
            <td>{{ data.name }}</td>
            <ng-container [ngSwitch]="i">
              <ng-container *ngSwitchCase="2">
                <td>{{ data.age }}</td>
                <td rowspan="2">{{ data.tel }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <td>{{ data.age }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
              </ng-container>
              <ng-container *ngSwitchCase="4">
                <td colspan="5">{{ data.age }}</td>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <td>{{ data.age }}</td>
                <td>{{ data.tel }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
              </ng-container>
            </ng-container>
        </tr>
    </tbody>
</nz-table> -->
<!-- <div id="contenedor">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div> -->

<div id="botonFlotante">
    <button mat-mini-fab class="icon-add">
        <mat-icon>add</mat-icon>
    </button>
    <!-- pRUEBHA -->
</div>