.img-account-profile{
    height: 10rem;
}

.img-service{
    height: 5rem;
    width: 5rem;
}

.ms-4{
    margin-left: 1.5rem !important;
}

.text-xs {
    font-size: 0.8rem !important;
}


small, .small {
    font-size: 1em;
    font-weight: bold;
}

.nav-borders .nav-link.active {
    color: #0061f2 !important;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a !important;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0061f2;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}