<div class="mb-5">
    <button class="btn btn-primary" mat-flat-button (click)="agregarEncuesta()" color="primary">Agregar Encuesta</button>
</div>
<div class="card p-4">
    <div class="text-center">
        <ng-container *ngIf="encuestaArr.length > 0; else noData">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N° Encuesta</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of encuestaArr">
                        <td>{{item?.EncuestaID}}</td>
                        <td>{{item?.Titulo}}</td>
                        <td>{{item?.FechaInicio | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item?.FechaRegistro | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item?.FechaFin | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <button class="btn btn-primary mr-3" (click)="agregarEncuesta(item.EncuestaID)">
                                <i-feather class="btn-icon" name="edit"></i-feather>
                            </button>
                            <ng-container *ngIf="item.CanDelete; else verEncuesta">
                                <button class="btn btn-danger mr-3" (click)="eliminarEncuesta(item.EncuestaID)">
                                    <i-feather class="btn-icon" name="trash"></i-feather>
                                </button>
                            </ng-container>
                            <ng-template #verEncuesta>
                                <button class="btn btn-danger mr-3">
                                    <i-feather class="btn-icon" name="eye" (click)="visualizarEncuesta(item.EncuestaID)"></i-feather>
                                </button>
                            </ng-template>
                            
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #noData>
            <img src="assets/images/no_data.svg" class="img-fluid my-5">
        </ng-template>
    </div>
</div>