<mat-tab-group animationDuration="1000ms" selectedIndex="0" color="warn">

    <mat-tab label="Resumen de Ventas">
        <br>
        <!-- <div class="row mb-5">
            <div class="col-3">
                <nz-range-picker nzShowOk (nzOnOk)="onOk($event)"
                    (nzOnCalendarChange)="change($event)"></nz-range-picker>
                <br />
            </div>
        </div> -->
        <div class="row mb-5" style="margin-left: 0px;">
            <div class="col-4">
                <b>Resumen de Ventas Diario</b>
                <br>
                <div class="row">
                    <!-- {{dateHoy|json}} -->
                    <nz-month-picker [(ngModel)]="dateHoy" (ngModelChange)="changeResumenVentasDiarias($event)"
                        nzPlaceHolder="Seleccione Mes"></nz-month-picker>
                    <button class="btn btn-danger mr-3" (click)="buscarResumenVentasDiarias()"
                        matTooltip="Hacer Devolucion">
                        <i-feather class="btn-icon" name="search"></i-feather>
                    </button>
                </div>
                <br>
                <table mat-table [dataSource]="listaFechasPagosxMes" class="mat-elevation-z8" style="width: 100%;"
                    *ngIf="listaFechasPagosxMes.length>0">
                    <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element">{{element.FechaPago | date:'dd/MM/yyyy'}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Monto">
                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                        <td mat-cell *matCellDef="let element">{{element.Total | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalDiario|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Devuelto">
                        <th mat-header-cell *matHeaderCellDef>Monto Devuelto</th>
                        <td mat-cell *matCellDef="let element">{{element.TotalDevuelto | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalDiarioDevuelto|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total+element.TotalDevuelto | currency: 'S/ '}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalDiario+totalDiarioDevuelto|currency: 'S/ '}}</b>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
            </div>
            <div class="col-8">
                <div *ngIf="listaValoresBarHorizontal.length>0">
                    <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme"
                        [results]="listaValoresBarHorizontal" [gradient]="gradient" [xAxis]="showXAxis"
                        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                    </ngx-charts-bar-horizontal>
                </div>
            </div>
        </div>
        <div class="row mb-5" style="margin-left: 0px;">
            <div class="col-6">
                <b>Servicios Mas Vendidos</b>
                <br>
                <div class="row">
                    <nz-range-picker [(ngModel)]="rangoDateServiciosMasVendidos" nzShowOk (nzOnOk)="onOk($event)"
                        (nzOnCalendarChange)="changeRangoServiciosMasVendidos($event)"></nz-range-picker>
                    <button class="btn btn-danger mr-3" (click)="buscarServiciosMasVendidos()"
                        matTooltip="Hacer Devolucion">
                        <i-feather class="btn-icon" name="search"></i-feather>
                    </button>
                </div>
                <br>
                <table *ngIf="listaServicioxRango.length>0" mat-table [dataSource]="listaServicioxRango" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="Servicio">
                        <th mat-header-cell *matHeaderCellDef>Servicio</th>
                        <td mat-cell *matCellDef="let element">{{element.ServicioNombre}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Monto">
                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                        <td mat-cell *matCellDef="let element">{{element.Total | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxServicio|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Devuelto">
                        <th mat-header-cell *matHeaderCellDef>Monto Devuelto</th>
                        <td mat-cell *matCellDef="let element">{{element.TotalDevuelto | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxServicioDevuelto|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total+element.TotalDevuelto | currency: 'S/ '}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxServicio+totalxServicioDevuelto|currency: 'S/
                                '}}</b></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsServicios"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsServicios;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsServicios"></tr>
                </table>
            </div>
            <div class="col-6">
                <div *ngIf="listaValoresPieChart.length>0">
                    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="listaValoresPieChart"
                        [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition"
                        [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)"
                        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
        <div class="row mb-5" style="margin-left: 0px;">
            <div class="col-6">
                <b>Resumen de Ventas Anual</b>
                <br>
                <div class="row">
                    <nz-year-picker [(ngModel)]="anioResumenVentasAnual" nzPlaceHolder="Seleccionar Año" (ngModelChange)="changeResumenVentasAnual($event)"></nz-year-picker>
                    <button class="btn btn-danger mr-3" (click)="buscarResumenVentasAnual()"
                        matTooltip="Hacer Devolucion">
                        <i-feather class="btn-icon" name="search"></i-feather>
                    </button>
                </div>
                <br>
                <table mat-table [dataSource]="listaPagosxYear" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="Mes">
                        <th mat-header-cell *matHeaderCellDef>Mes</th>
                        <td mat-cell *matCellDef="let element">{{element.MesNombre}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxYear|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Devuelto">
                        <th mat-header-cell *matHeaderCellDef>Monto Devuelto</th>
                        <td mat-cell *matCellDef="let element">{{element.DevolucionTotal | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxServicioDevuelto|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total2">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total+element.DevolucionTotal | currency: 'S/
                            '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalxServicio+totalxServicioDevuelto|currency: 'S/
                                '}}</b></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAnios"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAnios;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsAnios"></tr>
                </table>
            </div>
            <div class="col-6">
                <!-- {{listaValoresLinear|json}} -->
                <div *ngIf="listaValoresLinear.length>0">
                    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
                        [yAxis]="yAxis" [showGridLines]="showGridLines" [xAxis]="showXAxis" [yAxis]="showYAxis"
                        [xAxisLabel]="xAxisLabel3" [yAxisLabel]="yAxisLabel3" [timeline]="timeline"
                        [results]="listaValoresLinear" (select)="onSelect($event)" (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Reporte de Ventas">
        <br>
        <div class="row mb-5">
            <div class="col-5">
                <b>Reporte de Ventas</b>
                <br>
                <table mat-table [dataSource]="listaReportePaginado" class="mat-elevation-z8" style="width: 100%;"
                    *ngIf="listaReportePaginado.length>0">
                    <ng-container matColumnDef="FechaInicio">
                        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                        <td mat-cell *matCellDef="let element">{{element.FechaInicio | date:'dd/MM/yyyy'}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="FechaFin">
                        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                        <td mat-cell *matCellDef="let element">{{element.FechaFin | date:'dd/MM/yyyy'}}</td>
                        <td mat-footer-cell *matFooterCellDef><b></b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef>Monto Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalDiario|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Detalle">
                        <th mat-header-cell *matHeaderCellDef>Detalle</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab color="basic" (click)="showDetail(element.Servicios)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef><b></b></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsReportes"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsReportes;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsReportes"></tr>
                </table>
            </div>
            <div class="col-7" *ngIf="listaServiciosReporte.length>0">
                <b>Reporte de Ventas por Servicios</b>
                <br>
                <table mat-table [dataSource]="listaServiciosReporte" class="mat-elevation-z8" style="width: 100%;"
                    *ngIf="listaServiciosReporte.length>0">
                    <ng-container matColumnDef="ServicioNombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre de Servicio</th>
                        <td mat-cell *matCellDef="let element">{{element.ServicioNombre}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                        <td mat-cell *matCellDef="let element">{{element.Total | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalReprotexServicio|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="MontoDevuelto">
                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                        <td mat-cell *matCellDef="let element">{{element.TotalDevuelto | currency: 'S/ '}}</td>
                        <td mat-footer-cell *matFooterCellDef><b>{{totalReprotexServicioDevuelto|currency: 'S/ '}}</b>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Total2">
                        <th mat-header-cell *matHeaderCellDef>Total Total</th>
                        <td mat-cell *matCellDef="let element">{{element.Total+element.TotalDevuelto | currency: 'S/ '}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                            <b>{{totalReprotexServicio+totalReprotexServicioDevuelto|currency: 'S/ '}}</b></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsReportesporServicio"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsReportesporServicio;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsReportesporServicio"></tr>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<!-- <ngx-charts-number-card [scheme]="saleDataCard.colorScheme" [results]="saleDataCard.data"
    [cardColor]="saleDataCard.cardColor" [view]=[undefined,400]>
</ngx-charts-number-card> -->



<!-- <div class="card p-4">
    <mat-tab-group dynamicHeight animationDuration="1000ms">
        <mat-tab label="Ventas Diarias">
            <ng-container *ngIf="ventasArr.length>0;else noData">
                <div class="text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nro. Pago</th>
                                <th>Cantidad </th>
                                <th>Fecha</th>
                                <th>Nombre del Cliente</th>
                                <th>Servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ventasArr">
                                <td> {{ item.PagoCuotaID }} </td>
                                <td> {{ item.CantidadPago | currency: 'S/ ' }} </td>
                                <td> {{ item.FechaRegistro | date: 'dd/MM/yyyy' }} </td>
                                <td> {{ item.NombreCliente + ' ' +item.ApellidoCliente }} </td>
                                <td> {{ item.NombreServicio }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <h3 class="form-group col-md-5 my-3">
                            Monto Total Venta diario: S/.{{ montoTotal }}
                        </h3>
                        <h3 class="form-group col-md-5 my-3">
                            Cantidad de Ventas: {{serviciosCantidad}}
                        </h3>
                    </div>
                </div>
            </ng-container>

        </mat-tab>
        <div>
            <mat-tab label="Ventas Totales">
                <form class="form-row my-1 align-items-center">

                    <div class="form-group col-md-3 my-3">
                        <nz-range-picker nzShowOk (nzOnOk)="onOk($event)" (nzOnCalendarChange)="change($event)"></nz-range-picker>
                    </div>
                    <div class="form-group col-md-3 my-3 align-self-end">
                        <button class="btn btn-primary" (click)="filtrarVentasTotalesByFilter()" [disabled]="filtroIsActive">Filtrar</button>
                    </div>
                </form>
                <ng-container *ngIf="ventasArrTotal.length>0;else noData">
                    <div class="text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pago ID</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                    <th>Nombre del Cliente</th>
                                    <th>Servicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ventasArrTotal">
                                    <td> {{ item.PagoCuotaID }} </td>
                                    <td> {{ item.CantidadPago | currency: 'S/ ' }} </td>
                                    <td> {{ item.FechaRegistro | date: 'dd/MM/yyyy' }} </td>
                                    <td> {{ item.NombreCliente + ' ' +item.ApellidoCliente }} </td>
                                    <td> {{ item.NombreServicio }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <h3 class="form-group col-md-5 my-3">
                                Monto Total de Venta : S/.{{ montoTotalTotal }}
                            </h3>
                            <h3 class="form-group col-md-5 my-3">
                                Cantidad Total de Ventas: {{serviciosCantidadTotal}}
                            </h3>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noData>
                    <img src="assets/images/no_data.svg" class="img-fluid my-5">
                </ng-template>
            </mat-tab>
        </div>
    </mat-tab-group>
</div> -->