<!-- <div class="mb-5">
    
</div> -->
<div class="card p-4">

    <div class="form-row my-1 align-items-center">
        <form [formGroup]="filtroForm" class="form-group col-md-3 my-3">
                <h3 class="text-dark mb-3 font-weight-bold">Rol</h3>
                <select class="form-control" formControlName="rolID" aria-placeholder="Seleccione una opción">
                    <option value=null selected disabled>Seleccionar un Rol</option>
                    <option *ngFor="let item of rolesArr" value="{{item.RolID}}">{{item.Descripcion}}</option>
                </select>
        </form>
    
        <!-- Nombres -->
        <div class="form-group col-md-3 my-3">
            <h3 class="text-dark mb-3 font-weight-bold">Rango de Fechas de Registro</h3>
            <nz-range-picker nzFormat="dd-MM-yyyy" [(ngModel)]="date" name="date" (ngModelChange)="ngModelChange($event)"
                (nzOnCalendarChange)="onChangeRangeDate($event)"></nz-range-picker>
        </div>
        <div class="form-group col-md text-center">
            <button class="btn btn-primary mr-2" mat-flat-button (click)="buscarPersonal()">Buscar</button>
            <button class="btn btn-primary mr-2" mat-flat-button (click)="limpiarFiltros()">Limpiar Filtros</button>
            <button class="btn btn-primary mr-2" mat-flat-button (click)="agregarTrabajador()" color="primary">Agregar
                Personal</button>
            <button class="btn btn-primary mr-2" mat-flat-button (click)="definirHorariosAll()" color="primary">Trabajadores
                Horarios</button>

                <!-- limpiarFiltros -->
        </div>
        <!-- {{date|json}} -->
    </div>



    <div>
        <ng-container *ngIf="trabajadoresArr.length > 0; else noData">
            <table mat-table [dataSource]="trabajadoresArr" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombres}} </td>
                </ng-container>
                <ng-container matColumnDef="Apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
                </ng-container>
                <ng-container matColumnDef="Genero">
                    <th mat-header-cell *matHeaderCellDef> Genero </th>
                    <td mat-cell *matCellDef="let element"> {{element.Genero === true ? 'Hombre' : (element.Genero ===
                        false ? 'Mujer' : 'xd')}} </td>
                </ng-container>
                <ng-container matColumnDef="Nombre Rol">
                    <th mat-header-cell *matHeaderCellDef> Nombre Rol </th>
                    <td mat-cell *matCellDef="let element"> {{element.Rol.Descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="Fecha Registro">
                    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaRegistroString}} </td>
                </ng-container>
                <ng-container matColumnDef="Activo">
                    <th mat-header-cell *matHeaderCellDef> Activo </th>
                    <td mat-cell *matCellDef="let element"> {{element.IsActivo==true?'Activo':'Inactivo'}} </td>
                </ng-container>
                <ng-container matColumnDef="Acción">
                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-primary mr-3" matTooltip="Editar Trabajador"
                            (click)="editarTrabajador(element.UsuarioID)">
                            <i-feather class="btn-icon" name="user"></i-feather>
                        </button>
                        <button class="btn btn-primary mr-3" matTooltip="Editar Password"
                            (click)="editarPassword(element.UsuarioID,element.Nombres,element.Apellidos)">
                            <i-feather class="btn-icon" name="lock"></i-feather>
                        </button>
                        <!-- <button class="btn btn-primary mr-3" matTooltip="Definir Horarios"
                            (click)="definirHorarios(element.UsuarioID,element.Nombres,element.Apellidos)">
                            <i-feather class="btn-icon" name="calendar"></i-feather>
                        </button> -->
                        <button class="btn btn-danger mr-3" matTooltip="Quitar Trabajador"
                            (click)="eliminarServicio(element.ServicioID)">
                            <i-feather class="btn-icon" name="trash"></i-feather>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="paginatorTotalRecords" [pageSize]="paginatorPageSize" (page)="dev($event)"></mat-paginator>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Nombre Rol</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of trabajadoresArr">
                        <td>{{item?.Nombres}}</td>
                        <td>{{item?.Apellidos}}</td>
                        <td>{{ item.Genero === true ? 'Hombre' : (item.Genero === false ? 'Mujer' : 'xd') }}</td>
                        <td>{{item?.Rol.Descripcion }}</td>
                        <td>{{item?.FechaRegistroString}}</td>
                        <td>{{item?.IsActivo===true?'Activo':'Inactivo'}}</td>
                        <td>
                            <button class="btn btn-primary mr-3" matTooltip="Editar Trabajador" (click)="editarTrabajador(item.UsuarioID)">
                                <i-feather class="btn-icon" name="user"></i-feather>
                            </button>
                            <button class="btn btn-primary mr-3" matTooltip="Editar Password" (click)="editarPassword(item.UsuarioID,item.Nombres,item.Apellidos)">
                                <i-feather class="btn-icon" name="lock"></i-feather>
                            </button>
                            <button class="btn btn-primary mr-3" matTooltip="Definir Horarios" (click)="definirHorarios(item.UsuarioID,item.Nombres,item.Apellidos)">
                                <i-feather class="btn-icon" name="calendar"></i-feather>
                            </button>
                            <button class="btn btn-danger mr-3" matTooltip="Quitar Trabajador" (click)="eliminarServicio(item.ServicioID)">
                                <i-feather class="btn-icon" name="trash"></i-feather>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table> -->
        </ng-container>
        <ng-template #noData>
            <img src="assets/images/no_data.svg" class="img-fluid my-5">
        </ng-template>
    </div>
</div>