<h3 class="text-center">Editar Personal</h3>
<div class="card p-4">
    <h3>Información Básica</h3>
    <!-- {{trabajador|json}} -->
    <form [formGroup]="formularioGroup">
        <div class="row">
            <div class="col-4">
                <!-- <div class="ant-avatar"> -->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="{{fotoTrabajador || 'assets/images/avatars/profile-1.png'}}" alt>
                <!-- </div> -->
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-6">
                        <label>Nombre</label>
                        <!-- <input class="form-control" [(ngModel)]="nombres" [name]="nombres" [disabled]="disabled"> -->
                        <input placeholder="Nombre del Trabajador" formControlName="nombre" class="form-control" [disabled]="disabled">
                    </div>
                    <div class="form-group col-6">
                        <label>Apellido</label>
                        <input placeholder="Apellido del Trabjador" formControlName="apellido" class="form-control" [disabled]="disabled">
                    </div>
                    <div class="form-group col-6">
                        <label>DNI</label>
                        <input placeholder="Número DNI" formControlName="dni" class="form-control" onlyNumbers type="text" minlength="5" maxlength="8" [disabled]="disabled">
                    </div>
                    <div class="form-group col-6">
                        <label>Telefono</label>
                        <input placeholder="Telefono Celular" formControlName="telefono" class="form-control" onlyNumbers type="text" minlength="9" maxlength="9">
                    </div>
                    <div class="form-group col-6">
                        <label>Correo</label>
                        <input placeholder="nombre@example.com" formControlName="correo" class="form-control">
                    </div>
                    <div class="form-group col-6">
                        <label>Rol</label>
                        <select class="form-control"  aria-placeholder="Seleccione una opción">
                            <option *ngFor="let item of rolesArr" value="{{item.RolID}}">{{item.Descripcion}}</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <h3>Sexo</h3>
                        <select class="form-control" formControlName="genero" aria-placeholder="Seleccione una opción">
                            <option value="true">Masculino</option>
                            <option value="false">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <h3>Fecha de Nacimiento</h3>
                        <nz-date-picker [nzDisabledDate]="disabledEndDate" formControlName="fecha" class="form-control"></nz-date-picker>
                    </div>
                    <div class="form-group col-6">
                        <h3>Direccion</h3>
                        <input placeholder="Dirección del Trabajador" formControlName="direccion" class="form-control">
                    </div>

                    <div class="form-group col-6">
                        <h3>Foto</h3>
                        <div style="position: relative;">
                            <ng-container>
                                <input type="file" accept=".png,.jpg,.jpeg" (change)="addFotos()" id="fileFotos">
                            </ng-container>
                            <!-- <ng-template #fileFoto>
                                <input type="file" accept=".png,.jpg,.jpeg" (change)="addFotos()" id="fileFotos">
                            </ng-template> -->
                        </div>
            
                    </div>
    
                </div>
                <div class="row">
                    <button *ngIf="disabled" (click)="habilitarEdicion(false)" class="btn btn-primary mr-3" matTooltip="Editar">Editar
                        <i-feather class="btn-icon" name="edit-2"></i-feather>
                    </button>
                    <button *ngIf="!disabled" (click)="habilitarEdicion(true)" class="btn btn-danger mr-3" matTooltip="Cancelar">Cancelar
                        <i-feather class="btn-icon" name="x"></i-feather>
                    </button>
                    <button (click)="editarTrabajdorByID()" class="btn btn-success mr-3" matTooltip="Guardar" [disabled]="disabled">Guardar
                        <i-feather class="btn-icon" name="save"></i-feather>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card p-4">
    <h3>Servicios</h3>
    <p>Seleccione los servicios que el trabajador puede realizar</p>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <input class="form-control" disabled>
                </div>
                <div class="col-4">
                    <button mat-raised-button class="btn btn-primary mr-3"
                    (click)="agregarServicio()">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>