<modal-body>
    <div title>Agregar Categoria Servicio</div>
    <form body [formGroup]="formularioGroup" class="mx-4">
        <div class="form-group">
            <h3>Nombre Categoria Servicio</h3>
            <input placeholder="Descripción" formControlName="descripcion" class="form-control">
        </div>
    </form>
    <button action-button class="btn btn-primary" mat-flat-button [disabled]="formularioGroup.invalid || formularioGroup.disabled" (click)="registrarCategoriaServicios()">Guardar</button>
</modal-body>