<div>
    <h2>RESUMEN KATIA SPA</h2>
</div>

<ng-container *ngIf="loading">
    <div class="row" style="justify-content: space-evenly;">

        <div class="card m-2 col-md-5">
            <ngx-charts-number-card [scheme]="saleDataCard.colorScheme" [results]="saleDataCard.data" [cardColor]="saleDataCard.cardColor" [view]=[undefined,400]>
            </ngx-charts-number-card>
        </div>
        <div class="card m-2 col-md-5">
            <ngx-charts-pie-grid [view]="[undefined,400]" [scheme]="saleDataPie.colorScheme" [results]="saleDataPie.data">
            </ngx-charts-pie-grid>
        </div>
    </div>
    <div class="row" style="justify-content: space-evenly;">
        <div class="card m-2 col-md-6">
            <ngx-charts-bar-vertical [results]="saleData.data" [legendPosition]="'below'" [legend]="true" [legendTitle]="'Servicios KatiaSpa'" [scheme]="saleData.colorScheme">
            </ngx-charts-bar-vertical>
        </div>
    </div>

</ng-container>