<div id="contenedor">
    <div id="header">
        <h3 *ngIf="tipo === 1">Programar Sesion</h3>
        <h3 *ngIf="tipo === 2">Programar Sesion</h3>
    </div>
</div>

<div id="contenido">
    <form>
        <div class="row">
            <div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <mat-form-field>
                        <mat-label>Cliente</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Eduardo Gonzales" formControlName="cliente">
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <mat-form-field>
                        <mat-label>Servicio</mat-label>
                        <mat-select formControlName="servicio" (selectionChange)="cambioServicio($event.value)">
                            <mat-option *ngFor="let item of listaServicios" [value]="item.ServicioID">{{ item.Nombre }} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div *ngIf="tipo === 1">
                        <!-- <mat-label class="fecha">{{ fechaSeleccionada }}</mat-label> -->
                        <mat-form-field>
                            <mat-label>Día</mat-label>
                            <input matInput formControlName="dia" [matDatepicker]="dp" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="tipo === 2">
                        <mat-form-field>
                            <mat-label>Día</mat-label>
                            <input matInput formControlName="dia" [matDatepicker]="dp" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <mat-form-field>
                        <mat-label>Personal</mat-label>
                            <mat-select formControlName="personal" (selectionChange)="cambioPersonal($event.value)">
                                <mat-option *ngFor="let item of listaPersonal" [value]="item.UsuarioID">{{ item.Nombres }} {{ item.Apellidos }} </mat-option>
                            </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <!-- <mat-form-field>
                    <mat-label>Hora Inicio</mat-label>
                    <mat-select formControlName="horaInicio" (selectionChange)="cambioHoraInicio($event.value)">
                        <mat-option *ngFor="let item of listaHorarioInicio" [value]="item.id" [disabled]="item.disabled">{{ item.value }} {{ item.Apellidos }} </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <!-- <mat-form-field>
                    <mat-label>Hora Fin</mat-label>
                    <input matInput formControlName="horaFin" readonly>
                </mat-form-field> -->
            </div>
        </div>
        <div class="center-button">
            <button *ngIf="tipo === 1" mat-raised-button color="primary" (click)="generarCitaWeb()">Registrar</button>
            <button *ngIf="tipo === 2" mat-raised-button color="accent" (click)="generarCitaWeb()">Reprogramar Cita</button>
            <button *ngIf="tipo === 2" mat-raised-button color="warn" (click)="cancelarCita()" class="margin-button">Cancelar Cita</button>

        </div>
    </form>
</div>