@import 'src/assets/scss/mixins.scss';;

.table {
  white-space: nowrap !important;
  ::ng-deep .ant-table-body {
    overflow-x: auto !important;
  }
}

.tabs {
  ::ng-deep .ant-tabs-bar {
    border-bottom: none;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      right: 0;
      height: 1px;
      background-color: $gray-2;
    }
  }

  ::ng-deep .ant-tabs-nav {
    ::ng-deep .ant-tabs-tab {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-right: 25px;
    }

    ::ng-deep .ant-tabs-tab-active {
      color: $blue;
    }
  }

  ::ng-deep .ant-tabs-ink-bar {
    height: 7px;
    border-radius: 5px;
    background-color: $blue;
  }

  ::ng-deep .ant-tabs-tabpane {
    padding-left: 25px;
    padding-right: 25px;
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .tabs {
    ::ng-deep .ant-tabs-bar {
      &::before {
        background-color: $dark-gray-4;
      }
    }

    ::ng-deep .ant-tabs-nav {
      ::ng-deep .ant-tabs-tab {
        color: $dark-gray-2;
      }
      ::ng-deep .ant-tabs-tab-active {
        color: $blue;
      }
    }
  }
}
